---
export interface Props {
  isDark?: boolean;
}

const { isDark = false } = Astro.props;
---

<div class:list={['absolute inset-0', isDark ? 'bg-dark dark:bg-transparent' : 'bg-[#faf7ec] dark:bg-transparent']}>
  <slot />
</div>
